main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Kopf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Kopf h1 {
  font-size: 2.5rem;
  padding-bottom: 50px;
}


/* Beschreibung =================================================================================== */
#Beschreibung {
  max-width: 1100px;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Überschriften ---------------------------------------------------------------------------------- */
h2, h3, h4 {
  align-self: flex-start;
}

#Beschreibung h2 {
  font-size: 2rem;
  margin-top: 5rem;
}

#Beschreibung h3 {
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

#Beschreibung h4 {
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 10px;
}


/* Inhalt ----------------------------------------------------------------------------------------- */
#Beschreibung p {
  font-size: 1.1rem;
}

iframe {
  width: 700px;
  margin: 30px 0;
}

.img-container {
  width: 70%;
  margin: 30px 0;
  overflow: visible;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 100%;
  transition: transform .25s ease;
}

.zoomed {
  transform: scale(1.5);
}

ul {
  align-self: flex-start;
  list-style: square;
}

.break {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--text_hell);
  margin-bottom: 20px;
}


/* Links ========================================================================================== */
#Links {
  display: flex;
  margin: 4rem 0;
}

.Link-Button {
  padding: 0.8rem 0.8rem;
  margin: 0.7rem 0.7rem;
  border: var(--hintergrund_dunkel) solid 2px;
  text-decoration: none;
  color: var(--hintergrund_dunkel);
  font-size: 1.15rem;
}

.Link-Button:hover {
  color: var(--text_hover);
  background-color: var(--hintergrund_dunkel);
  border: var(--text_hover) solid 2px;
  transition-duration: 200ms;
}


/* Media Quaries ================================================================================== */
@media(max-width: 780px) {
  iframe {
    width: 90%;
  }
}