main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20rem;
  padding-top: 5rem;
}

#Beschreibung p {
  font-size: 1.2rem;
}

#Links {
  display: flex;
  margin: 4rem 0;
}

.Link-Button {
  padding: 0.8rem 0.8rem;
  margin: 0.7rem 0.7rem;
  border: var(--hintergrund_dunkel) solid 2px;
  text-decoration: none;
  color: var(--hintergrund_dunkel);
  font-size: 1.15rem;
}

.Link-Button:hover {
  color: var(--text_hover);
  background-color: var(--hintergrund_dunkel);
  border: var(--text_hover) solid 2px;
  transition-duration: 200ms;
}
