main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Projektkarten ================================================================================== */
#Projektkarten {
  padding: 100px 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 70px;
}

.Karte {
  padding: 20px;
  color: var(--text_hell);
  background-color: var(--hintergrund_dunkel);
  border: var(--hintergrund_dunkel) 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  display: flex;
}

.Karte p {
  margin-bottom: 15px;
}

.button {
  padding: 15px;
  color: var(--text_hell);
  background-color: var(--hintergrund_dunkel);
  border: var(--text_hell) 1px solid;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
}

.button:hover {
  color: var(--text_hover);
  background-color: var(--hintergrund_hover);
  transition: .25s linear;
}


/* Media Quaries ================================================================================== */
@media(max-width: 780px) {
  main {
    margin-top: 0;
  }

  #canvas {
    display: none;
  }

  #Projektkarten {
    padding: 0 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    grid-template-columns: auto;
    gap: 50px;
  }
}
