@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* ----- Farben ----- */
:root {
  --text_hell: #B6B6B6;
  --text_dunkel: #3B4252;
  --text_hover: #DF49A6;

  --hintergrund_hell: whitesmoke;
  --hintergrund_dunkel: #23232E;
  --hintergrund_hover: #141418;
}


/* ----- Globale Einstellungen ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--hintergrund_hell);
  font-family: 'Share Tech Mono', monospace;
}


/* ----- Navbar ----- */
#haupt-nav {
  background-color: var(--hintergrund_dunkel);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sub-nav {
  background-color: var(--hintergrund_dunkel);
  border-top: var(--highlight_text) 1px solid;
  box-shadow: 5px 5px 8px var(--text_hell);
  height: 75px;
  display: none;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  margin-right: auto;
  margin-left: 100px;
}

.nav-link {
  height: 70%;
  padding: 0 10px;
  margin: 0 3px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text_hell);
  font-size: 1.4rem;
  font-weight: bold; 
}

#haupt-nav .nav-link:last-of-type {
  margin-right: 100px;
}

#sub-nav .nav-link:first-of-type {
  margin-left: 25px;
}

.nav-link:hover {
  color: var(--text_hover);
  background-color: var(--hintergrund_hover);
  transition-duration: 250ms;
}


/* ----- Media Query ----- */
@media(max-width: 850px) {
  header {
    position: fixed;
    width: 100vw;
  }

  #haupt-nav nav {
    height: 70px;
  }

  #haupt-nav #logo-container {
    display: none;
  }
}
