@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* ----- Globale Einstellungen ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #3B4252;
  font-family: 'Share Tech Mono', monospace;
}

/* ----- Navbar ----- */
header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 1.5rem 1.5rem;
}

nav, ul {
  display: flex;
  align-items: stretch;
  padding-right: 50px;
}

.nav-link {
  display: flex;
  list-style: none;
  flex-grow: 1;
  align-self: stretch;
}

.link-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.link-text:hover {
  color: #B48EAD;
  background-color: #4C566A;
  transition-duration: 250ms;
}
