@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Farben ========================================================================================= */
:root {
  --text_hell: #B6B6B6;
  --text_dunkel: #3B4252;
  --text_hover: #DF49A6;

  --hintergrund_hell: whitesmoke;
  --hintergrund_dunkel: #23232E;
  --hintergrund_hover: #141418;
}


/* Globale Einstellungen ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--hintergrund_hell);
  font-family: 'Share Tech Mono', monospace;
}


/* Navbar ========================================================================================= */
#haupt-nav {
  background-color: var(--hintergrund_dunkel);
  box-shadow: 5px 5px 8px var(--text_hell);
  height: 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  transition: box-shadow 0.15s linear;
}

#sub-nav {
  background-color: var(--hintergrund_dunkel);
  box-shadow: 5px 5px 8px var(--text_hell);
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.15s linear;
}

#logo {
  margin-right: auto;
  margin-left: 100px;
}

.nav-link {
  height: 70%;
  padding: 0 10px;
  margin: 0 3px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text_hell);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

#haupt-nav .nav-link:nth-of-type(3) {
  margin-right: 100px;
}

#sub-nav .nav-link:first-of-type {
  margin-left: 25px;
}

.nav-link:hover {
  color: var(--text_hover);
  background-color: var(--hintergrund_hover);
  transition-duration: 250ms;
}

#mobile-nav {
  display: none;
}


/* Media Query ==================================================================================== */
@media(max-width: 780px) {
  #haupt-nav {
    box-shadow: none;
    position: fixed;
    bottom: 250px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }

  #sub-nav {
    border: none;
    box-shadow: none;
    position: fixed;
    bottom: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

  #mobile-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: var(--hintergrund_dunkel);
    z-index: 10;
  }

  #logo {
    display: none;
  }

  #dropdown {
    display: none;
  }

  .nav-link {
    width: 100%;
    height: 50px;
    border-radius: 0;
    display: flex;
    justify-content: center;
  }

  .nav-link:not(#mobile-dropdown) {
    border-bottom: var(--text_hell) 1px solid;
  }
  
  #haupt-nav, #sub-nav {
    transition: transform 0.25s linear;
  }

  #haupt-nav .nav-link:nth-of-type(3) {
    margin-right: 0;
  }
  
  #sub-nav .nav-link:first-of-type {
    margin-left: 0;
  }

  .active {
    transform: translateY(400px);
  }
}

@media(min-width: 781px) {
  #sub-nav.active {
    transform: translateY(-180px);
  }
}
